{% extends "groups/group_base.html" %}
{% block pregroup %}
    <h1>{{ group.name }}</h1>
{#    group - context dict auto passed by groups/models/Group class as lower case 'group'#}
    <h2>Member Count: {{ group.members.count }}</h2>

    <div class="content">
        {% if user in group.members.all %}
            <p>User is there</p>
            <a href="{% url 'groups:leave' slug=group.slug %}"
                class="btn btn-lg btn-fill btn-warning">
                <span class="glyphicon glyphicon-remove-circle">Leave</span>
            </a>
        {% else %}
            <p>No User</p>
            <a href="{% url 'groups:join' slug=group.slug %}"
               class="btn btn-lg btn-fill btn-warning">
                <span class="glyphicon glyphicon-ok-circle">Join</span>
            </a>
        {% endif %}
    </div>
{% endblock %}

{% block group_content %}
    <div class="col-md-8">
        {% if group.posts.count == 0 %}
            <h2>No posts in this group yet!</h2>
        {% else %}
            {% for post in group.posts.all %}
                {% include "post/_post.html" %}
                {# injecting html file, just like extends #}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}